<table matSort  (matSortChange)="sortData($event)">
<tr >
  <th  mat-sort-header="name">Nom</th>
  <th mat-sort-header="active">Etat</th>
  <th mat-sort-header="type">Type</th>
  <!-- <th mat-sort-header="carbs">Carbs (g)</th>
  <th mat-sort-header="protein">Protein (g)</th> -->
</tr>

<tr class="border" *ngFor="let analyse of sortedData">
  <td>{{analyse.name}}</td>
  <td>{{analyse.active}}</td>
  <td>{{analyse.type}}</td>
  <!-- <td>{{dessert.carbs}}</td>
  <td>{{dessert.protein}}</td> -->
</tr>
</table>