<table matSort  (matSortChange)="sortData($event)">
<tr >
  <th  mat-sort-header="name">Nom</th>
  <th mat-sort-header="active">Etat</th>
  <th mat-sort-header="type">Type</th>
  <!-- <th mat-sort-header="carbs">Carbs (g)</th>
  <th mat-sort-header="protein">Protein (g)</th> -->
</tr>

<tr class="border" *ngFor="let analyse of sortedData">
  <td>{{analyse.name}}</td>
  <td><span *ngIf="analyse.active==true; else untrue">
    <mat-chip-list>
      <mat-chip color="primary">Active</mat-chip>
    </mat-chip-list>
  </span>
  <ng-template #untrue>
  <mat-chip-list>
  <mat-chip>Inactive</mat-chip>
</mat-chip-list>
  </ng-template>
  </td>
  <td>{{analyse.type}}</td>
  <!-- <td>{{dessert.carbs}}</td>
  <td>{{dessert.protein}}</td> -->
</tr>
</table>